{% extends 'main_layout.html' %}

{% block content %}
<div class="container-fluid resources " style="padding: 7% 2%; ">
    <a href="{{ url_for('urgenthelp') }}"><button class="btn my-2 my-sm-0 Urgenthelpbtn" type="button">Urgent Help</button></a>
    <h1>Sensory Calming Activities</h1>
    <div class="row p-4">
        <div class="col">
            <h3>What is Overstimulation?</h3>
            <p>Overstimulation is a state of overwhelmedness caused by your senses recieving too much sensory information, making it difficult to process the information. 
                Overcoming overstimulation/sensory overload often involves removing or changing a stimulant from the environment, or removing yourself from the environment.
                This helps your brain recieve less sensory information. </p>
        </div>
        <div class="col" >
            <img src="static/img/overstimulation.png" alt="" width="500" height="500">
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="col">
        <h3>Visual Information</h3>
        <p>Visual input can cause overstimulation. A common visual stimulant that makes people uncomfortable is bright lighting. To reduce visual overstimulation through lighting you can: </p>
        <ul>
            <li>Move to a <b> dark </b> room</li>
            <li>Use <b> soft and dim </b> lighting to create a calming environment</li>
            <li>Embrace <b> natural daylight </b> to improve your mood</li>
            <li>Use <b> candles and twinkle/fairy lights </b> for a gentle lighting experience</li>
            <li>Wear <b> light filtering glasses </b></li>
          </ul>
        <p>Visual stimulators are important for calming down.</p>
        <ul>
            <li>Find a relaxing view of <b> nature </b> such as a waterfall</li>
            <li>Use <b> soft and muted </b> colors in the environment as they are less stimulating than bright colors</li>
            <li>Look at or watch calming<b> artwork, photos, and videos </b> to relax</li>
            <li>Enjoy objects like <b>lava lamps </b> that distract from the environment</li>
            <li>Wear <b> light filtering glasses </b></li>
          </ul>
    </div>
    <div class="col" >
        <img src="static/img/visual.png" alt="" width="500" height="500">
    </div>
    <div class="row p-4">
        <div class="col">
            <h3>Auditory Information</h3>
            <p>Auditory information is what you hear. Loud or unpleasant noises such as a large group of people talking at once can overstimulate people. To overcome auditory overstimulation: </p>
            <ul>
                <li>Listen to calming and relaxing<b> music </b></li>
                <li>Wear <b> noise cancelling headphones </b></li>
                <li>Listen to <b> nature sounds </b></li>
                <li>Listen to <b> white noise </b> </li>
                <li>Watch <b> ASMR videos </b></li>
                <li>Do <b> guided meditation </b>to relax</li>
                <li>Move to a <b> quiet room </b></li>
              </ul>
        </div>
        <div class="col" >
            <img src="static/img/auditory.png" alt="" width="500" height="500">
        </div>
        <div class="row p-4">
            <div class="col">
                <h3>Olfactory Information</h3>
                <p>Olfactory information is what you smell. Some smells are more pleasant and suitable to be around. To overcome olfactory overstimulation: </p>
                <ul>
                    <li>Wear a<b> face mask </b> to mask unpleasant smells</li>
                    <li>Find the source of the disturbing smell and <b> remove or substitute </b> it </li>
                    <li>Open a window to keep the room <b> well ventilated </b></li>
                    <li>Smell <b> calming aromas </b> such as lavender, chamomile, or anything you particularly find calming</li>
                  </ul>
            </div>
            <div class="col" >
                <img src="static/img/olfactory.png" alt="" width="500" height="500">
            </div>
            <div class="row p-4">
                <div class="col">
                    <h3>Gustatory Information</h3>
                    <p>Gustatory information is what you eat. People can have certain "safe foods" and "comfort foods" which they prefer to eat in certain circumstances. </p>
                    <ul>
                        <li>Eat a food that brings joy and comfort</li>
                        <li>Drink liquids like hot chocolate that bring relaxation</li>
                        <li>Avoid certain textures in foods</li>
                      </ul>
                </div>
                <div class="col" >
                    <img src="static/img/gustatory.png" alt="" width="500" height="500">
                </div>
                <div class="row p-4">
                    <div class="col">
                        <h3>Tactile Information</h3>
                        <p>Tactile information is what you feel. Certain objects can reduce overstimulation. </p>
                        <ul>
                            <li>Engage in tactile hobbies such as <b> crocheting and knitting</b></li>
                            <li>Use <b>fidget toys</b>such as fidget spinners</li>
                            <li>Play around with <b> different textures</b> with objects like kinetic sand or a fluffy rug</li>
                            <li>Do <b>touch-based activities</b>such as yoga</li>
                            <li>Wear <b>comfy clothes</b></li>
                          </ul>
                    </div>
                    <div class="col" >
                        <img src="static/img/tactile.png" alt="" width="500" height="500">
                    </div>
                    <div class="row p-4">
                        <div class="col">
                            <h3>Thermal Information</h3>
                            <p>Things like the weather and temperature can affect our mood. To sooth yourself, you can: </p>
                            <ul>
                                <li>Turn on <b>air conditioning or fan</b> to cool the environment</li>
                                <li>Turn on a <b> heater </b> to warm the environment <</li>
                                <li>Wrap yourself in a <b> warm blanket</b></li>
                                <li>Wear <b>suitable clothes</b> to fit the environment</li>
                                <li>Eat hot or cold <b>foods and beverages</b></li>
                                <li>Take a warm or cold <b>shower or bath</b></li>
                              </ul>
                        </div>
                        <div class="col" >
                            <img src="static/img/thermal.png" alt="" width="500" height="500">
                        </div>
                        <div class="row p-4">
                            <div class="col">
                                <h3>Don't forget...</h3>
                                <p>It's important to involve <b>movement</b> in your daily routine. Keep a <b> decluttered and cozy</b> environment designed to fit your personal needs. It's also important to have support from <b>friends, family, or support groups and communities</b>. </p>
                                <ul>
                            </div>
</div>
</div>
{% endblock %}