{% extends 'main_layout.html' %} {% block content %}
<Section class="urgy_helpy">
    <div class="container" style="padding: 10px;">
        <div class="urgy_helpy">
            <h1>
                <center> Urgent Help </center>
            </h1>
            <h5>
                <center> If you need urgent help, there are resources available for you.</center>
            </h5>
            <div style="margin-left:50px;">
                <h3>Hotlines</h3>
                <h5>Follow <a href="https://blog.opencounseling.com/suicide-hotlines/">this link </a>for hotlines around the world, and scroll till you find
                    <b>your country.</b>
                    <B>On the front page,the emergency number and suicide hotline number and readily available.</B>
                    The <B>"More hotlines"</B> button directs you to more of your country's hotlines in various
                    categories, such as "youth" and "substance abuse".</h5>
            </div>
            <div style="margin-left:50px;">
                <h3>Calming Activities</h3>
                <h5>
                    Visit our Sensory Calming Activities page to find activities that will calm you down when you're
                    overwhelmed or overstimulated. It's under the resources tab!
                </h5>
            </div>
            <div style="margin-left:50px;">
                <h3>Professional Help</h3>
                <h5>If you are regularly having negative feelings, you should consider consulting with a psychologist. Book an appointment with a psychologist and see what further action suits you. This could include therapy, consulting a psychiatrist, and more based on the issues you are having. Make sure the psychologist is aware of your neurodisorder so they can advise you on a suitable course of action.</h5>
            </div>
        </div>
    </div>
</section>

{% endblock %}